[Desktop Entry]
Name=BlueAK Init
Comment=BlueAK first-login bootstrap and update checker
Exec=/usr/local/bin/blueak-init
Terminal=false
Type=Application
Hidden=false
NotShowIn=KDE;XFCE;
X-GNOME-Autostart-enabled=true