// BlueAK Niri config — minimal working baseline

binds {
    Mod+D { spawn "ulauncher-toggle"; }
}

input {
    touchpad {
        tap
        natural-scroll
    }
}

// Autostart
spawn-at-startup "ulauncher" "--hide-window"

window-rule {
    match app-id="ulauncher"
    open-floating true
}

// debug {
//     honor-xdg-activation-with-invalid-serial
// }